#body {
    overflow-x: hidden;
}

#editor {
    display: block;
    background-color: white;
    white-space: pre-wrap;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
    padding: 5rem;
    margin: 1rem auto;
    width: 40rem;
    min-height: 51.8rem;
    line-height: 1.25rem;
}

#popup {
    display: block;
    border-radius: 2px;
    padding: 0.2rem;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2);
}

#popup button {
    display: inline-block;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
    width: 1.75rem;
    height: 1.75rem;
}

#containerLeft {
    display: block;
    position: absolute;
    width: 70%;
    margin: 2rem;
}

#containerLeft h1 {
    display: block;
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


#containerRight {
    margin: 2em;
    width: 24em;
    right: 0;
    border: 0.05em solid black;
    text-align: center;
    padding-bottom: 1em;
    position: fixed;
    display: block;
    transition-duration: 0.1s;
    background-color: white;
}

#containerRight h2 {
    font-size: 1.5em;
    font-family: Arial;
    text-align: center;
    padding: 1em;
    background-color: #4A86E8;
    color: #FFFFFF;
}

.container-edit-icon {
    float: left;
    background-color: #1955C39C;
}


.edit-icon {
    float: left;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.container-edit-icon, .edit-icon {
    width: 4.8em;
}

.edit-icon:hover {
    opacity: 0.7;
    transition-duration: 0.25s;
}

.edit-icon:active {
    opacity: 0.25;
}

#richTextField {
    background-color: #FFFFFF;
    width: inherit;
    height: 51.8em;
    margin-top: 3em;
    box-shadow: 1px 1px 1px black;
}

#textAreaCounter {
    font-family: arial;
    margin-top: 1rem;
}

textarea {
    width: 97%;
    margin-top: 2em;
    font-family: Arial;
}

.comment {
    display: block;
    position: absolute;
    margin: 0;
    width: 14rem;
    padding: 1rem;
    z-index: 1;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2);
    opacity: 0.7;
    transition-duration: 0.1s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.comment:hover {
    opacity: 1;
    z-index: 2;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}