body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FBFBFB;
}

.accent {
  background-color: #4A86E8;
  text-align: center;
  margin-top: 2.7rem;
  padding: 5%;
  font-family: 'Arial', sans-serif;
  font-size: 50px;
  color: white;
}
  
.main {
  padding-top: 1%;
  text-align: center;
}

/* Upload Section */

.inputsec {
  text-align: center;
  padding: 50px 80px;
}

.fileupload {
  padding: 100px 0;
}

.inputfile {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;

}

.inputfile [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}
.submitbuttons {
  background-color: #4A86E8;
  border: none;
  width: 300px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  cursor: pointer;
}

.submitbuttons:hover {
  background-color: #3F5BEB;
}

.submitbuttons:focus {
  background-color: #1DFF82;
}

#continue {
  float: right;
  margin-right: 1%;
}